<template>
  <ul class="navbar-nav mr-auto">
    <li v-for="(item, index) in menuitem" :key="index" class="nav-item active">

      <router-link :to="'/'+item.link" class="nav-link" replace="">{{ item.name }} </router-link>

    </li>
  </ul>
</template>

<script>
export default {
  name: "appnavbar",
  data() {
    return {
      menuitem: [
        {
          name: "Data Provider",
          class: "nav-link",
          link: "provider-list"
        },
        {
          name: "Data Keluaran",
          class: "nav-link",
          link: "keluaran-list"
        }
      ]
    };
  },
  methods:{
    gotoLink(e){
      console.log(e)
    }
  }
};
</script>

<style>
</style>
