<template>
  <div>
    <h2 v-if="providerInfo !== null" class="text-center mt-3">Data Keluaran: {{ providerInfo.nama }}</h2>
    <b-btn
      v-if="dataExist == true"
      variant="primary btn-block mt-3 mb-3"
      @click="goToAddKeluaran"
    >Tambah Data</b-btn>
    <b-table
      v-if="last30Day !== null && dataExist == true "
      stripped
      hover
      :items="last30Day"
      :fields="fields"
      @row-clicked="editKeluaran"
    >
      <template v-slot:cell(tanggal)="row">{{formatTanggal(row.value)}}</template>
      <template v-slot:cell(periode)="row">{{formatPeriode(row.value)}}</template>
    </b-table>

    <!-- if no data -->
    <div
      class="d-flex justify-content-md-center align-items-center vh-100 text-center"
      v-if="dataExist==false"
    >
      <b-form-group
        label="Data Belum Ada, Silahkan Input Terlebih Dahulu"
        label-for="nama"
        class="text-center mt-5"
      >
        <b-btn variant="primary btn-block" @click="goToAddKeluaran">Tambah Data</b-btn>
      </b-form-group>
    </div>

    <!-- if no data -->
  </div>
</template>


<script>
import Axios from "axios";
import { CubeShadow } from "vue-loading-spinner";
export default {
  components: {
    CubeShadow
  },
  data() {
    return {
      last30Day: null,
      dataExist: true,
      providerInfo: null,
      fields: [
        {
          key: "tanggal",
          name: "Tanggal",
          label: "Tanggal Keluar",
          sortable: true,
          thClass: "text-center",
          tdClass: "text-center"
        },
        {
          key: "keluaran",
          name: "Angka Keluar",
          label: "Angka Keluar",
          sortable: true,
          thClass: "text-center",
          tdClass: "text-center"
        },
        {
          key: "periode",
          name: "Periode",
          sortable: true,
          thClass: "text-center",
          tdClass: "text-center"
        }
      ]
    };
  },
  mounted: function() {
    var vm = this;
    Axios.get("/api/keluaran/byProvider/" + this.$route.params.id)
      .then(function(response) {
        if (response.status == 200) {
          if (response.data.keluaran.length == 0) {
            vm.dataExist = false;
          } else {
            vm.dataExist = true;
          }
          vm.last30Day = response.data.keluaran;
          vm.providerInfo = response.data.providerInfo;

          // console.log(vm.providerInfo);
        }
      })
      .catch(function(error) {
        console.log(error);
      });
  },
  methods: {
    formatTanggal(tanggal) {
      var days = [
        "Minggu",
        "Senin",
        "Selasa",
        "Rabu",
        "Kamis",
        "Jum'at",
        "Sabtu"
      ];
      var bulan = [
        "Januari",
        "Februari",
        "Maret",
        "April",
        "Mei",
        "Juni",
        "Juli",
        "Agustus",
        "September",
        "Oktober",
        "November",
        "Desember"
      ];
      var d = new Date(tanggal);
      return (
        days[d.getDay()] +
        ", " +
        d.getDate() +
        " " +
        bulan[d.getMonth()] +
        " " +
        d.getFullYear()
      );
      // return tanggal.split('-')[2]
      // return days[]
    },
    editKeluaran(e) {
      console.log(e);
      this.$router.push({
        name: "keluaranEdit",
        params: { id: e.id }
      });
    },
    goToAddKeluaran() {
      this.$router.push({
        name: "keluaranAdd",
        params: { id: this.providerInfo.id, kode: this.providerInfo.kode }
      });
    },
    formatPeriode(e) {
      return this.providerInfo.kode + " - " + e;
    }
  }
};
</script>

<style>
</style>
