<template>
  <div class="row justify-content-center">
    <div class="col-md-8" v-if="form !== null">
      <h1 class="mb-3 text-center">Edit Provider</h1>
      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group
          label="Nama Provider Togel"
          label-for="nama"
          description="Nama provider seperti : Jakarta, Singapore, Hongkong, DLL"
        >
          <b-form-input id="nama" type="text" required placeholder="Jakarta" v-model="form.nama"></b-form-input>
        </b-form-group>
        <b-form-group
          label="Kode Provider Togel"
          label-for="nama"
          description="Kode Provider, contoh: Hongkong -> HK, Indonesia -> ID"
        >
          <b-form-input
            id="kode"
            type="text"
            required
            placeholder="Hongkong -> HK, Indonesia -> ID"
            v-model="form.kode"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Url / Link Gambar untuk featured image provider"
          label-for="gambar"
          description="Diisi dengan menggunakan URL / LINK ke Blogspot (recommended) / atau boleh dikosongkan"
        >
          <b-form-input
            id="gambar"
            type="text"
            v-model="form.gambar"
            placeholder="https://4.bp.blogspot.com/-ciB_IX3GQXo/XjAaKspDXYI/AAAAAAAAJWo/mc4PjG3vYEUX6Iak56nMT5-1VnPWjqNLACK4BGAYYCw/s400/Logo-New.png"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Link untuk Ambil Data"
          label-for="gambar"
          description="Ga usah diisi juga gpp"
        >
          <b-form-input
            id="gambar"
            type="text"
            v-model="form.source"
            disabled
            placeholder="https://4.bp.blogspot.com/-ciB_IX3GQXo/XjAaKspDXYI/AAAAAAAAJWo/mc4PjG3vYEUX6Iak56nMT5-1VnPWjqNLACK4BGAYYCw/s400/Logo-New.png"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Hari Buka" label-for="gambar" description="Ga usah diisi juga gpp">
          <b-form-checkbox-group
            v-model="form.hari_buka"
            :options="hari"
            class="mb-3"
            value-field="value"
            text-field="text"
            disabled-field="notEnabled"
            description="Beri centang pada hari provider buka"
          ></b-form-checkbox-group>
        </b-form-group>
        <b-form-group label="Jam Buka" label-for="nama" :description="deskripsiJamBuka">
          <b-form-timepicker
            v-model="form.jam_buka"
            :hour12="false"
            hourCycle="h24"
            @context="onContext"
          ></b-form-timepicker>
        </b-form-group>
        <b-form-group label="Jam Tutup" label-for="nama" :description="deskripsiJamTutup">
          <b-form-timepicker
            v-model="form.jam_tutup"
            :hour12="false"
            hourCycle="h24"
            @context="onContext"
          ></b-form-timepicker>
        </b-form-group>

        <el-tiptap v-model="form.keterangan" :extensions="extensions" />
        <b-form-group>
          <b-button block variant="primary mt-3" type="submit">Update Provider</b-button>
        </b-form-group>
      </b-form>
      <b-form-group>
        <b-button block variant="danger mt-3" @click="deleteProvider">Delete Provider</b-button>
      </b-form-group>
    </div>
    <div class="d-flex justify-content-md-center align-items-center vh-100" v-else>
      <origami width="300px" height="300px"></origami>
    </div>
  </div>
</template>

<script>
import {
  // necessary extensions
  Doc,
  Text,
  Paragraph,
  Heading,
  Bold,
  Underline,
  Italic,
  Strike,
  ListItem,
  BulletList,
  OrderedList,
  Image,
  Preview,
  TextAlign,
  TextColor
} from "element-tiptap";
import axios from "axios";
import { Origami } from "vue-loading-spinner";

export default {
  components: {
    Origami
  },
  data() {
    return {
      loading: true,
      context: null,
      color: "red",
      size: "30px",
      kontent: "",
      selected: ["2"],
      hari: [
        { value: "1", text: "Senin" },
        { value: "2", text: "Selasa" },
        { value: "3", text: "Rabu" },
        { value: "4", text: "Kamis" },
        { value: "5", text: "Jum'at" },
        { value: "6", text: "Sabtu" },
        { value: "7", text: "Minggu" }
      ],
      form: null,
      show: true,
      // titap
      extensions: [
        new Doc(),
        new Text(),
        new Paragraph(),
        new Heading({ level: 5 }),
        new Bold({ bubble: true }), // render command-button in bubble menu.
        new Underline(),
        new Italic(),
        new Strike(),
        new ListItem(),
        new BulletList(),
        new OrderedList(),
        new Image(),
        new Preview(),
        new TextAlign(),
        new TextColor()
      ]
    };
  },
  mounted: function() {
    var vm = this;
    var idx = this.$route.params.id;
    axios
      .get("/api/provider/details/" + idx)
      .then(function(response) {
        if (response.status == 200) {
          vm.form = response.data;
        } else if (response.status == 401) {
          alert("error get data");
        }
      })
      .catch(function(error) {
        vm.$router.push({ name: "providerList" });
      });
  },
  computed: {
    deskripsiJamBuka() {
      return "Provider akan buka pada jam : " + this.form.jam_buka + " Dalam format UTC+7" ;
    },
    deskripsiJamTutup() {
      return "Provider akan tutup pada jam : " + this.form.jam_tutup + " Dalam format UTC+7" ;
    }
  },
  methods: {
    onContext(ctx) {
      this.context = ctx;
    },
    deleteProvider() {
      var vm = this;
      // console.log(vm.form);
      axios
        .post("/api/provider/delete", vm.form)
        .then(function(response) {
          if (response.status == 200) {
            vm.$router.push({ name: "providerList" });
          }
        })
        .catch(function(error) {
          vm.$router.push({ name: "providerList" });
        });
    },
    onSubmit: function(e) {
      e.preventDefault();
      var vm = this;
      axios
        .put("/api/provider/update", this.form)
        .then(function(response) {
          // console.log(response);
          if (response.status == 200) {
            vm.$router.push({
              name: "providerList"
            });
          } else if (response.status == 401) {
            vm.$router.push({
              name: "providerList"
            });
          }
          // console.log(response);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    onReset(e) {
      e.preventDefault();
      console.log("reset clicked");
    }
  }
};
</script>

<style>
</style>
